<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">

<div class="star-wars-intro">

  <!-- Blue Intro Text -->
  <p class="intro-text">
    Virei nerd, agora irei aprender angular com StarWars!
  </p>

  <!-- Logo Image or Text goes in here -->
  <h2 class="main-logo">
    <img src="/assets/img/star-wars-intro.png">
  </h2>

  <!-- All Scrolling Content Goes in here -->
  <div class="main-content">

    <div class="title-content">
      <p class="content-header">EPISÓDIO VIII <br>Aprendendo a programar com Angular</p>

      <br>
      <br>

      <p class="content-body">
        Bacon ipsum dolor amet brisket jerky venison, short loin prosciutto shank andouille ball tip turkey capicola pork belly frankfurter. Chuck tenderloin brisket, shank salami landjaeger beef ribs pastrami chislic jerky ground round turducken jowl. Shank cupim ground round, pork loin chicken biltong filet mignon shoulder chuck beef ribs picanha venison. Sirloin fatback boudin ball tip cow. Sirloin bresaola buffalo, shankle turkey shank rump. Tongue short ribs ground round sausage, shankle beef ribs burgdoggen.
      </p>
    </div>
  </div>
</div>

<section id="welcome">
  <div class="container">
    <div class="pad">
      <h1 class="text-center">Star Wars em Angular :D</h1>
      <p class="text-center lead">Aqui, listaremos tudo o que há de legal em Star Wars</p>

      <!-- Rotas -->
      <router-outlet></router-outlet>

      <div class="text-center">
        <em class="lead">May the Force be with you</em> 
      </div>
    </div>
  </div>
</section>

<footer class="text-center">
  <div class="container">
    <p>
      Feito por nerds para ensinar novos nerds!
    </p>
  </div>
</footer>